#wrapper {
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.blocks {
  flex: 1 200px;
  height: 300px;
  border: 2px solid black;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  background: red;
  font-size: 40px;;
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
}

.progressBar {
  background-color: red;
  height: 10px;
  margin: 5px 0 5px 0;
  width: 0;
}

.loading {
  width: 100%;
}