#wrapper {
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.blocks {
  flex: 1 200px;
  height: 300px;
  border: 2px solid black;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  background: red;
  font-size: 40px;;
  color: #fff;
}